<h3>コンテンツ一覧</h3>
<div class = "foo1" >
 <% @contents.each do |content| %> 
    <%= image_tag content.image.variant(resize:'500x500') %>
    <p><%= content.message %></p>
    <span><%= link_to '詳細', content_path(content.id) %></span>
  <% end %>
</div>