<h1>各コンテンツの詳細画面です。</h1>
<%= image_tag @content.image, class:'message-image' %>
<p class = "message-view"><%= @content.message %></p>
<p><%= link_to '編集する', edit_content_path(@content.id),class:"edit-action" %></p>
<p><%= link_to '削除する', content_path(@content.id), method: :delete,class:"delete-action" %></p>