<div class = "contents row">
  <div class = "container" >
    <%= form_with(model: @task, local: true) do |f| %>
      <h3>達成したいタスクを入力しましょう！</h3>
      <p class = "nav-text">優先順位</p>
      <%= f.collection_select(:priority_id, Priority.all, :id, :name, {}, {class:"priority-select"}) %>
      <p class = "nav-text">タスク</p>
      <%= f.text_field :text, placeholder: "タスクを40文字以内で入力してください" ,class: "task-form-area"%><br>
      <%= f.submit "決定",class: "post-btn" %>
    <% end %>
  </div>
</div>