<h1>あなたのタスク一覧</h1>
<div class = "contents row">
  <%= @tasks.each. do |task| %>
    <span><%= task.created_at %></span>
    <span><%= task.priority.name %></span>
    <p><%= task.text %></p>
  <% end %>
</div>
