<div class = "content-area">
  <div class = "content-child-area">
  <h2>ログイン</h2>
<%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
  <div class="field">
    <% f.label :email %>メールアドレス<br />
    <%= f.email_field :email, autofocus: true, autocomplete: "email",class:"form-area"%>
  </div>

  <div class="field">
    <% f.label :password %>パスワード<br />
    <%= f.password_field :password, autocomplete: "current-password",class:"form-area" %>
  </div>

  <div class="actions">
    <%= f.submit "ログイン",class: "signin-btn" %>
  </div>
<% end %>
</div>
</div>