/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 /* application.css */
 body{
   margin: 0;
   display: flex;
   min-height: 100vh;
 }

.side-bar{
  width:20%;
  background-color: rgb(216, 234, 245);
}

 ul{
   list-style-type: none;
   padding: 0;
   margin: 0;
 }

.menu{
  text-align: center;
  border-bottom: 1px solid rgb(184, 181, 181);
}

main{
  flex: 1;
  border: 1px solid rgb(184, 181, 181);
  padding-left: 30px;
 }

 a{
  text-decoration: none;
  color: inherit;
}

a:hover{
  background-color: rgb(214, 248, 162);
  transition: 0.3s;
}

.nav{
  height:50px;
  line-height: 50px;
  display: block;
}

.nav:hover{
  font-weight: bold;
}

 /* 画像に対して共通のCSS */
 .message-image{
  width:500px;
  height:500px;
}

.message-view{
  font-size:30px;
  font-weight: bold;
}


/* ボタン関連のCSS */
.signup-btn,.signin-btn,.post-btn{
  margin-top: 30px;
  border-radius: 50%;
  cursor: pointer;
  width:150px;
  height:50px;
  background-color:white;
}

.signup-btn:hover,.signin-btn:hover,.post-btn:hover{
  background-color:rgb(219, 245, 127);
  transition: 0.3s;
  font-weight: bold;
}

/* タスク及びコンテンツの一覧表示を修正 */
.contents-row{
  overflow: scroll;
  background-color:rgb(240, 243, 233);
  width:95%;
  height:100vh;
}

@media (max-width: 1000px){

  .side-bar{
    position: fixed;
    bottom: 0;
    background-color: rgb(216, 234, 245);
    width: 100%;
  }

  .nav-list{
    display: flex;
  }

  .menu{
    flex: 1;
  }

  main{
    margin-bottom: 51px;
  }

  .nav{
    font-size:13px;
  }

}
