// Place all the styles related to the contents controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.message-form-area{
  width:300px;
  height:30px;
}

.container{
  text-align: center; 
}

.nav-text{
  margin-top: 10px;
}