// Place all the styles related to the tasks controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

// show.htmlのCSS
#value-response{
  display: none;
}

#response-image{
  display: none;
}

#answer-confirm{
  display: none;
}

#cheering{
  display:none;
}

#scold-image1{
  display: none;
}

#scold-image2{
  display: none;
}

#scold-image3{
  display: none;
}

#special-scold-image{
  display: none;
}




// new.htmlのCSS

